.clock {
  justify-content: center;
  padding: 60px;
  width: 100%;

  .date-time {
    display: flex;
    width: 600px;
    margin: 0 auto 20px auto;

    .heading {
      width: 560px;
      font-size: 150px;
      margin: 0 0 0 50px;
    }
  }

  .subheading {
    text-align: center;
    margin: 0;
    font-weight: 300;
    color: #f79b7f;
    font-size: 50px;
  }

  .fa-clock {
    margin: 25px 0 0 15px;
  }
}
