.tile {
  align-items: center;
  background-color: #384267;
  box-shadow: 5px 5px #1f2a42;
  display: flex;
  margin: 15px 0;

  &.small {
    height: 155px;
    padding: 1.5%;
    width: 21%;
  }

  &.large {
    height: 500px;
    width: 100%;
  }

  &:nth-child(n + 1) {
    color: #f79b7f;
  }

  &:nth-child(2n + 1) {
    color: #70c9c0;
  }

  &:nth-child(3n + 1) {
    color: #f16994;
  }
}
