.price {
  margin-left: 20px;
  font-size: 36px;

  .change {
    margin: 0;

    &.arrow-down {
      color: #f79b7f;
    }

    &.arrow-up {
      color: #70c9c0;
    }
  }

  .from-to {
    font-weight: 300;
    margin: 0;
    color: #8995b5;
  }

  .icon-wrapper {
    margin-left: 20px;

    &.arrow-down {
      color: #f79b7f;
    }

    &.arrow-up {
      color: #70c9c0;
    }
  }

  .to-price {
    margin: 0;
    color: #70c9c0;
  }
}
